.scoresHeader{
  height: 405px;
  width: 688px;
  padding: 0 78px;
  text-align: left;
  font-size: 161px;
  font-weight: 700;
  line-height: 162px;
  word-wrap: break-word;
}

button {
  width: 494px;
  height: 136px;
  margin-top: 130px;
  margin-bottom: 176px;
  /* margin: 150px auto 150px auto; */
  border: none;
  border-radius: 10px;
  font-size: 53px;
  font-weight: 700;
  font-family: inherit;
  background-color: #ffffff;
  color: #4464fc;
  cursor: pointer;
}

.companyLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 136px;
  width: 381px;
  margin-top: 89px;
  margin-bottom: 182px;
}